h1{
    padding-left: 250px;
    padding-top: 20px;
    font-size: 25px;
    color: grey;
    font-family: sans-serif;
    
}
h2{
    padding-left: 250px;
    font-size:20px;
    color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.personalia{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
    padding-left: 250px;
    padding-bottom: 30px;
    }

#pi{
    color: darkgrey;
    font-weight: normal;
    padding-bottom: 30px;
}

.img2{
    width: 20%;
    height:20%;
    float: left;
}
.img1{
    width:20%;
    height:20%;
    float: left;
}
.profile{
    float: left;
    width: 35%;
}
html{
    background-color: linear-gradient (bottom right,black,grey,white);
    border: 2px solid grey;
    border-style: solid grey;
    border-radius: 5px;
}
